@import "src/styles/_variables.scss";

.container {
  padding: 8px;
  border: solid 1px $nickel;
}

.name {
    p {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.description {
    p {
        font-size: 1rem;
        font-weight: 400;
    }
}
