@import "src/styles/_variables.scss";

.container {
  color: $white;
  font-family: "DM Mono";
  font-size: 18px;

}

.navContainer {
  font-family: "DM Sans";
  display: flex;
  padding: 16px;
  font-size: 20px;

  * {
    margin-right: 8px;
  }
  :last-child {
    margin-right: 0;
  }
}

.currentPageLabel {
  color: $nickel;
  font-size: 24px;
  font-weight: bold;
  align-self: center;
  border-right: solid 1px $nickel;
  padding-right: 16px;
}

.childrenContainer {
  padding: 8px 24px;
}

.link {
  color: $white;
  border-bottom: solid 1px $nickel;
  padding: 8px;
  transition: all 0.5s ease;
  &:hover {
    color: $prussian_blue;
    border-bottom: solid 1px $prussian_blue;
    padding:8px 24px;
    width: fit-content;
  }
}
