@import "src/styles/_variables.scss";

.container {
  color: $white;

  font-family: "DM Mono";
}

.navContainer {
  font-family: "DM Sans";
  display: flex;
  background-color: $onyx;
  padding: 8px;
  border-bottom: solid 1px $smoky_black;
  * {
    margin-right: 8px;
  }
  :last-child {
    margin-right: 0;
  }
}

.currentPageLabel {
  padding: 8px;
  font-weight: bold;
  color: $white;
  align-self: center;
}

.childrenContainer {
  padding: 24px 16px;
}

.link {
  border: solid 1px $onyx;
  padding: 8px;
  &:hover {
    border: solid 1px $eerie_black;
  }
}
